.card{
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom:10px;
    overflow: hidden;
}
.datas{
    font-size: 9pt;
}
.card-none-border:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;

}
li.nav-item {
    float: left;
}
ul.nav {
    float: left;
    line-height: 29px;
}
.card-none-border:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
}
.card-none-border{
    background-color: #fff;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom:1px;
    overflow: hidden;
}
.img-card-none{
    width: 100%;
    height: 133px;
    background: green;
    color: white;
    font-size: 49pt;
    text-align: center;
    line-height: 128px;
}
label.has-error {
    color: red;
    font-size: 9pt;
    padding: 0;
    margin: 0;
}
.none-style{
    text-decoration: none;
    padding:0;
    margin:0;
    list-style: none;
}
.item.adicionar_novo{
    font-weight:bold;
}
.form-created{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 300px;
}
.item{
    background-color: #fff;
    /* border-radius: 3px; */
    padding: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1px;
    overflow: hidden;
}
.simple-item{

}
.title-card{
    padding: 10px;
}
.formulario-margin{
    margin-top: 10px;
}

.dados-card-cliente{
    text-align: center;
}
li.links {
    padding: 10px;
    padding-left: 38px;
}
.nome{
    font-size: 12pt;
    font-weight: bold;
}